
.header_container {
  position: absolute; /* Posiciona el contenedor de la cabecera de forma absoluta */
  top: 0%; /* Alinea la cabecera en la parte superior del contenedor padre */
  z-index: 0; /* Establece el índice z para que la cabecera esté encima de otros elementos */
  
}

.header_container .icon {
  width: 27px; /* Establece el ancho del icono */
  height: 27px; /* Establece la altura del icono */
}

.lblCartCount {
  font-size: 12px; /* Establece el tamaño de fuente del contador de carrito */
  background: #ff0000; /* Establece el color de fondo del contador de carrito */
  color: #fff; /* Establece el color del texto del contador de carrito */
  padding: 0 5px; /* Añade relleno al contador de carrito */
  vertical-align: top; /* Alinea el contador de carrito en la parte superior */
  margin-left: -10px; /* Establece el margen izquierdo del contador de carrito */
}

.lblCartCount.hidden {
  visibility: hidden; /* Oculta el contador de carrito cuando tiene la clase 'hidden' */
}

.container img {
  max-width: 100%; /* Hace que las imágenes se ajusten al ancho del contenedor */
  height: 30%; /* Mantiene la proporción de la imagen */
}
/* Estilos Responsivos */
@media screen and (max-width: 768px) {
  .header_container {
    position: fixed; /* Cambia la posición a fijo para la cabecera en pantallas más pequeñas */
    width: 100%; /* Establece el ancho al 100% para ocupar todo el ancho del viewport */
    background: #fff; /* Añade un color de fondo a la cabecera en pantallas más pequeñas */
  }

  .header_container .icon {
    width: 24px; /* Ajusta el tamaño del icono para pantallas más pequeñas */
    height: 24px; /* Ajusta el tamaño del icono para pantallas más pequeñas */
  }

  .lblCartCount {
    font-size: 10px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
    padding: 0 3px; /* Ajusta el relleno para pantallas más pequeñas */
    margin-left: -5px; /* Ajusta el margen izquierdo para pantallas más pequeñas */
  }
  .container img {
    height: 5vw; /* Mantiene la proporción de la imagen */
  }
}