.header_container {
    background-color: #28254F;
    position: absolute;
    top: -3%;
    z-index: 1;
    height: 10px;
}

.header_container .icon { 
    width: 17px;
    height: 17px;
    margin-top: 20px;
}

