span {
    margin-left: 30px;
    font-size: 10px;
    margin-right: 30px;
    margin-bottom: 7px;
}

.logo_section_container{
    position: relative;
    text-align: center;
}

.logo_section_container .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo_section_container .background {
    height: 50vh;
    /*filter: opacity(50%);*/
    margin-bottom: 12px;
}


  
.logo_section_container .logo {
    margin-top: 50px;
    max-width: 130px;
}

.bootle-up-link {
    position: absolute;
    top: 200px; 
    left: 60px; 
    z-index: 2; 
    font-family: Gusto-Italic;
    font-size: 70px;
    text-decoration: none;
    color: white;
  }
.text-down
{
    font-family: Gusto-Italic;
    font-size: 18px;
    color: #28254F;
    display: 'block'
}


  @font-face
  {
    font-family: Gusto-Italic;
    src: url(../fonts/Gusto-Italic.ttf);
  }

