span
{
    margin-left: 3%; 
    font-size: 1em; 
    margin-right: 2%; 
    margin-bottom: 1em; 
}

.logo_section_container
{
    position: relative;
    text-align: center;
}

.logo_section_container .centered 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo_section_container .background 
{
    height: 50vh;
    margin-bottom: 12px;
}

.logo_section_container .logo 
{
    margin-top: 50px;
    max-width: 10%;
}

.bootle-up-link 
{
    position: absolute;
    top: 200px; 
    left: 60px; 
    z-index: 2; 
    font-family: Gusto-Italic;
    font-size: 70px;
    text-decoration: none;
    color: white;
}

.textAligment
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.2%;
}

.text-down
{
    font-family: Gusto-Italic;
    font-size: 170%;
    color: #28254F;
    margin-bottom: 0%;
}
.textBienvenido
{
    font-size: 90%;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.Img1, .Img2, .Img3 {
    width: 30%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.imageContainer p {
    text-align: center;
    font-size: 120%;
    margin-top: 2%;
}

.imageContainer a {
    text-decoration: none; 
    color: inherit; 
}


  @font-face
{
    font-family: Gusto-Italic;
    src: url(../fonts/Gusto-Italic.ttf);
}