.product_list .productCard{
    flex-basis: 25%;
    margin: 0 3% 5% 3%;
}
.product_list .productCard img {
  max-width: 100%; /* Hace que la imagen sea responsive */
  height: auto; /* Mantiene la proporción de la imagen */
}
.subtitle
{
    font-family: Gusto-Italic;
    color: #28254F;
    font-size: 4vw;

    /* Aquí establecemos el degradado como fondo del subrayado */
    background-image: linear-gradient(to right, #e0e0e0, #F9D243, #ED74AB, #06A58F,#e0e0e0);
    background-size: 100% 1.5px; /* Ancho y grosor del subrayado */
    background-position: 0 80%; /* Posiciona el subrayado en la parte inferior del texto */
    background-repeat: no-repeat; /* Evita que se repita el degradado */
}


@font-face
{
  font-family: Gusto-Italic;
  src: url(../fonts/Gusto-Italic.ttf);
}
/* Estilos Responsivos */
@media screen and (max-width: 768px) {
  .subtitle
  {
    font-size: 8vw;
  }
}