#categories {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 80px;
  border: #333;
  border-radius: 8px;
  background-color: #CBD1E4;
  width: 150px;
  text-align: center;
  margin-left: 10px;
  font-family: 'Calibri Light', sans-serif;
}

#titulo-categorias {
  background-color: transparent;
  font-family: 'Calibri Light', sans-serif;
}

  
  .titulo-producto {
    color: #333;
    font-size: 1.5em;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    margin-top: 50px;
  }
  
  .star-section p {
    color: gold;
    background-color: transparent;
    font-family: 'Calibri', sans-serif;
  }
  
  .price {
    background-color: transparent;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
  }
  
  .vendor {
    background-color: rgba(197, 205, 223, 0.3);
    width: 150px;
    border-radius: 2px;
  }
  .vendor p {
    font-size: 0.9em;
    background-color: transparent;
    font-family: 'Calibri', sans-serif;
    display: inline-block;
    margin-right: 0.5em;
  }
  
  #ratingVendor {
    background-color: #39579e;
  }

    .add-to-cart {
      background-color: #fff;
      border-radius: 8px;
      width: 400px;
      padding: 0.5em 1em;
      cursor: pointer;
      margin-top: 2em;

    }
  
  .description p {
    background-color: transparent;
    font-size: 1.3em;
    font-family: 'Calibri', sans-serif;
  }