/* Profile.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh; /* Asegura que el contenedor ocupe al menos el 100% del viewport height */
}
  
  .welcome-section {
    font-family: Gusto-Italic;
    color: #fff;
    font-size: 3vw;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    text-align: center;
    background-color: #06A58F;
    padding: 20px;
    border-radius: 8px 8px 0 0;

  }

  .welcome-section svg {
    margin-right: 5px; /* Ajusta el espacio entre el icono y el texto si es necesario */
  }
  
  .profile-section {
    font-family: 'Calibri Light', sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: transparent;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Agregamos centrado vertical */
    text-align: center; /* Alineaci贸n de texto para el bot贸n */
  }
  
  /* Estilos para los elementos dentro de profile-section */
  .profile-section div {
    margin-bottom: 20px;
  }
  
  .profile-section input {
    text-align: center; 
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .profile-section input[type="text"]:disabled {
    background-color: #eee;
    color: #888;
  }
  
  .profile-section button {
    margin-top: 20px; /* Espacio superior para separar el bot贸n */
    padding: 10px 20px;
    background-color: #06A58F;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center; /* Centra el bot贸n horizontalmente */
    width: 100%;
    
  }
  
  .profile-section button:hover {
    background-color: #0056b3;
  }
  
  /* Media queries para responsividad */
  @media screen and (max-width: 768px) {
    .profile-section, .welcome-section {
      max-width: 90%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .profile-section input {
      width: calc(100% - 16px);
    }
  }
  @font-face
{
  font-family: Gusto-Italic;
  src: url(../fonts/Gusto-Italic.ttf);
}
